body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container {
    width: 496px;
    height: 496px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #b7181d;
    border-radius: 10px;
}

.item {
    width: 25px;
    height: 25px;
    margin: 0px;
    background-color: #cacbcd;
    border: 3px solid #cacbcd;
}

.item-1 {
    border-top-left-radius: 5px;
}

.item-16 {
    border-top-right-radius: 5px;
}

.item-241 {
    border-bottom-left-radius: 5px;
}

.item-256 {
    border-bottom-right-radius: 5px;
}

.header {
    width: 100%;
    display: flex;
    /* border: 3px solid red; */
}

a {
    text-decoration: none;
    color: black
}

.title,
.github-link {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 200;
}

button {
    width: 200px;
    background-color: white;
    border: none;
}

.title:hover,
.github-link:hover {
    color: white;
}

button:hover {
    background-color: rgb(189, 95, 95);
}

.github-button {
    margin-left: auto;
}

.board {
    width: 900px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: -150px;
    margin-top: 30px;
    border: 3px solid #b7181d;
    border-radius: 20px;
    background-color: #b7181d;
}

.board-title {
    color: #d0904f;
    padding: 20px;
    letter-spacing:0.02em;
    font-weight: 550;
}

.board-title-middle {
    font-size: 24px;
    font-style: italic;
}

sup {
    font-size: 16px;
}

.knobs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    /* border: 3px solid red; */
    width: 100%;
    padding: 10px;
}
.knob-1,
.knob-2 {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    background-color: white;
    border: 3px solid red;
}

.footer {
    /* border: 3px solid red; */
    font-family: Inter;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    text-align: center;
}